@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

// Variables
$text-Color: #fff;
$black: #000;
$main-bg-color: #01050d;
$main-color: #191e25;
$default-color: #aaaa;
$trasition: all ease .34s;

// Media sizes
$first-size: 1500px;